body {
  background: #0c0f0f;
  color: white;
  font-family: Arial;
  margin: 0;
}

#loginScreen {
  text-align: center;
  margin-top: 200px;
}

#usernameInput {
  padding: 10px;
  font-size: 18px;
}

#topBar {
  background: #003d33;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.adminBtn {
  background: #d60000;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  color: white;
}

#messages {
  height: 73vh;
  overflow-y: auto;
  list-style: none;
  padding: 10px;
}

.my-msg, .their-msg {
  margin: 8px;
  padding: 8px;
  border-radius: 12px;
}

.my-msg {
  background: #004d40;
  text-align: right;
}

.their-msg {
  background: #1e1e1e;
  text-align: left;
}

.deleted {
  font-style: italic;
  opacity: 0.6;
}

.user {
  font-weight: bold;
  color: #00ffd2;
}

.time {
  opacity: .7;
  font-size: 10px;
  margin-left: 8px;
}

/* typing */
.typing {
  font-style: italic;
  color: #00eaff;
  margin-top: 5px;
}

/* emoji panel */
#emojiPanel {
  background: #1b1b1b;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  font-size: 25px;
  border-radius: 12px;
  margin: 5px;
}
#emojiPanel.hidden {
  display: none;
}

#form {
  display: flex;
  background: #003d33;
  padding: 8px;
}
#input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

#emojiBtn {
  background: #00796b;
  padding: 5px 12px;
  border: none;
  color: white;
  font-size: 20px;
  margin-right: 8px;
  border-radius: 6px;
}
