body {
  background: #0a0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
}

#loginScreen {
  margin-top: 200px;
}

#usernameInput {
  padding: 10px;
  font-size: 18px;
}

#chatScreen {
  width: 100%;
  height: 100vh;
}

#topBar {
  background: #003d33;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.adminBtn {
  background: #e40000;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}

#messages {
  list-style: none;
  margin: 0;
  padding: 10px;
  height: 75vh;
  overflow-y: auto;
}

.my-msg {
  background: #004d40;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  text-align: right;
}
.their-msg {
  background: #1b1b1b;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  text-align: left;
}
.user {
  font-weight: bold;
  color: #00ffcc;
}
.time {
  font-size: 10px;
  opacity: .7;
  margin-left: 5px;
}
.typing {
  font-style: italic;
  font-size: 12px;
  color: #00eaff;
}
